@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

* {
    /* border: 0.5px solid gray; */
}


html, body {
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-height: 100%;
}

#title {
    font-size: 1rem;
    height: 10%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    width: 95%;
    height: 90%;
}

.left {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

#start-btn {
    all: unset;
    background-color:rgb(172, 231, 248);
    font-size: 2rem;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

#start-btn:hover {
    background-color: rgb(130, 209, 241);
    transform: scale(1.1);
    cursor: pointer;
}

#count-area {
    background-color: rgb(255, 250, 242);
    font-size: 1.5rem;
}

#quiz-area {
    /* width: 50%; */
    /* text-align: center; */
    display: flex;
    /* gap: 10px; */
    align-items: center;
    /* justify-content: center; */
    height: 40%;
}

#newQuiz {
    display: flex;
    gap: 30px;
}

.letter-box {
    border-bottom: 4px solid black;
    /* background-color: beige; */
    /* border-radius: 5px; */
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 3rem;
}

.hidden {
    display: none;
}

#alphabet-btns {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: rgb(203, 243, 249); */
    /* padding: 30px 0px; */
    /* border-radius: 10px; */
    transition: ease-in-out 0.1s;
}

.alphabet-btn {
    background-color: rgb(172, 231, 248);
    border-radius: 15px;
    padding: 10px;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    border: 6px solid rgb(172, 231, 248);
    /* box-sizing: border-box; */
}

.alphabet-btn:hover {
    background-color: rgb(130, 209, 241);
    transform: scale(1.1);
    cursor: pointer;
}

.chosen {
    /* background-color: cornflowerblue; */
    border: 6px solid cornflowerblue;
    /* box-sizing: border-box; */
    width: 3rem;
    border-radius: 15px;
    padding: 10px;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
}

.chosen.alphabet-btn:hover {
    background-color: cornflowerblue;
    transform: none;
    cursor: default;
}


